[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Exec='quickMIPDisp' %f
Name=quickMIPDisp
Comment=Custom definition for quickMIPDisp
NoDisplay=true
