[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Exec='quickMIPMontage' %f
Name=quickMIPMontage
Comment=Custom definition for quickMIPMontage
NoDisplay=true
